.point-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .point-value {
        position: relative;
    }

    .point-column {
        background-color: rgb(255, 255, 161);

        &:before {
            content: '';
            display: inherit;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #f6e100;
            position: relative;
            top: -5%;
        }
    }

    .point-value {
        margin-bottom: 0.5rem;
        font-size: 14px;

        &.selected {
            font-size: 17px;
            font-weight: 600;
        }
    }
}