.point-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .point-column {
        background-color: rgb(255, 255, 161);
        position: relative;
        transition: 0.5s;

        &:before {
            content: '';
            display: inherit;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #f6e100;
            position: relative;
            top: -5px;
        }

        .point-value {
            margin-bottom: 0.5rem;
            font-size: 14px;
            position: absolute;
            top: -2rem;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 5;
        }

        &.selected {
            &:before {
                background-color: #6f6606;
            }
            .point-value {
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}
