.weather-item {
    padding: 0.5rem;
    border: 1px solid transparent;

    .week {
        text-align: center;
    }

    &.selected {
        border: 1px solid #dadada;
        border-radius: 0.5rem;
        background-color: #fbfbfb;
    }

    .avg-temp {
        display: flex;
        justify-content: space-around;

        .day { color: inherit; }
        .night { color: grey }
    }
}